# Aprendiendo PANDAS

Para trabajar con pandas necesitamos importar tambien a numpy

In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

2.2.2
2.1.1

## DataFrame y Series

Un DataFrame es una **tabla compuesta por arreglos de entradas individuales**, cada entrada con un cierto valor.

A cada entrada le corresponde una **fila y una columna**. \
El constructor *pd.DataFrame* recibe un **diccionario de listas** como argumento. \
Las llaves del diccionario se asignan como los nombres de las columnas y las listas se asignan como las entradas de la tabla.

In [2]:
pd.DataFrame({ "Columna1":[1,2,3], "Columna2":[4,5,6]})

   Columna1  Columna2
0         1         4
1         2         5
2         3         6

Una Serie no es mas que una **lista/secuencia de elementos**. \
Tambien se puede ver como la columna de un Dataframe. \
Podemos decir que un dataframe es la union de distintas Series.

In [3]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

El atributo _index_ especifica etiquetas para las filas que por defecto se asignan desde 0 en adelante

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

Podemos crear dataframe leyendo archivos externos, tales como excel, csv, sqlite, etc.

In [5]:
pd.read_excel("Pokemon_quest_stones.xlsx")

,ID,Tipo,Potencia,Golpes_criticos,Daño_critico,Auto_curacion,Curacion_al_dañar,Curacion_al_debilitar,Recuperacion,PS_al_recuperarse,Resistencia_a_efectos,Resistencia_a_estados,Velocidad
0,1,PS,985.0,,26.1,,,2.6,NaN,NaN,24.9,NaN,NaN
1,2,PS,983.0,25.7,NaN,NaN,NaN,NaN,NaN,NaN,26.1,NaN,NaN
2,3,PS,970.0,,28.5,,,NaN,19.1,NaN,NaN,NaN,NaN
3,4,PS,962.0,25.9,,,2.9,NaN,NaN,17.6,NaN,NaN,NaN
4,5,PS,956.0,,,,2.8,NaN,NaN,NaN,NaN,28.4,NaN
5,6,PS,955.0,27.7,24.6,59.9,,NaN,NaN,NaN,NaN,NaN,NaN
6,7,PS,953.0,,25,,2.4,2.7,NaN,NaN,NaN,NaN,NaN
7,8,PS,951.0,,24.3,71.5,,NaN,18.9,NaN,NaN,NaN,NaN
8,9,PS,945.0,28.2,,,,NaN,NaN,NaN,NaN,NaN,55.0
9,10,PS,944.0,,,,,NaN,18.0,NaN,28.9,NaN,NaN
10,11,PS,938.0,,,,2.8,NaN,NaN,NaN,NaN,23.9,60.0
11,12,PS,937.0,,,,,2.5,NaN,NaN,29.5,NaN,NaN
12,13,PS,936.0,,,,,NaN,17.6,NaN,28.5,NaN,NaN
13,14,PS,934.0,,,,,2.8,NaN,NaN,29.1,27.3,NaN
14,15,PS,931.0,,,61.2,2.9,2.4,NaN,NaN,NaN,NaN,NaN
15,16,PS,923.0,24.2,NaN,65.4,2.6,NaN,NaN,NaN,NaN,NaN,NaN
16,17,PS,921.0,NaN,NaN,56.5,2.7,NaN,NaN,NaN,NaN,26.8,NaN
17,18,PS,915.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,23.5,NaN,54.0
18,19,PS,914.0,NaN,NaN,NaN,2.8,2.5,NaN,NaN,NaN,22.8,NaN
19,20,PS,914.0,NaN,27.2,NaN,NaN,2.4,NaN,NaN,NaN,NaN,NaN
20,21,PS,908.0,NaN,NaN,NaN,NaN,2.4,NaN,16.8,NaN,NaN,64.0
21,22,PS,907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.3,25.6,68.0
22,23,PS,901.0,24.3,26.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
23,24,ATQ,986.0,NaN,NaN,67.9,2.4,NaN,NaN,NaN,24.0,NaN,NaN
24,25,ATQ,985.0,NaN,NaN,59.9,NaN,NaN,NaN,NaN,NaN,23.8,NaN
25,26,ATQ,984.0,NaN,NaN,69.8,NaN,NaN,NaN,18.5,NaN,NaN,60.0
26,27,ATQ,973.0,NaN,26.4,NaN,NaN,2.3,NaN,15.9,NaN,NaN,NaN
27,28,ATQ,968.0,NaN,NaN,NaN,2.3,NaN,NaN,NaN,26.1,26.9,NaN
28,29,ATQ,967.0,26.1,25.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0
29,30,ATQ,961.0,NaN,NaN,NaN,2.9,NaN,NaN,17.7,NaN,NaN,68.0
30,31,ATQ,959.0,26.9,NaN,NaN,NaN,NaN,NaN,NaN,29.5,29.6,NaN
31,32,ATQ,953.0,27.6,NaN,NaN,2.6,NaN,NaN,NaN,NaN,NaN,NaN
32,33,ATQ,953.0,26.3,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,NaN
33,34,ATQ,952.0,NaN,23.6,NaN,NaN,2.5,NaN,NaN,NaN,22.8,NaN
34,35,ATQ,952.0,NaN,NaN,NaN,NaN,NaN,15.6,15.3,NaN,29.3,NaN
35,36,ATQ,949.0,NaN,26.1,NaN,NaN,NaN,19.5,NaN,NaN,NaN,NaN
36,37,ATQ,948.0,NaN,NaN,NaN,NaN,2.6,NaN,18.5,NaN,23.8,NaN
37,38,ATQ,947.0,26.3,NaN,NaN,2.7,NaN,NaN,NaN,NaN,NaN,63.0
38,39,ATQ,945.0,NaN,22.2,59.4,NaN,NaN,NaN,19.0,NaN,NaN,NaN
39,40,ATQ,945.0,NaN,NaN,NaN,NaN,NaN,17.8,NaN,NaN,22.9,NaN
40,41,ATQ,944.0,28.5,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0
41,42,ATQ,939.0,22.5,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
42,43,ATQ,938.0,NaN,NaN,NaN,2.4,NaN,NaN,NaN,24.2,24.6,NaN
43,44,ATQ,930.0,26.6,NaN,NaN,2.6,NaN,19.3,NaN,NaN,NaN,NaN
44,45,ATQ,926.0,NaN,NaN,59,NaN,NaN,NaN,NaN,27.6,27.9,NaN
45,46,ATQ,923.0,NaN,NaN,59.8,2.6,NaN,NaN,19.8,NaN,NaN,NaN
46,47,ATQ,918.0,NaN,23.1,NaN,2.2,NaN,NaN,NaN,24.9,NaN,NaN
47,48,ATQ,914.0,NaN,28.8,NaN,NaN,NaN,NaN,15.4,NaN,NaN,59.0
48,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Podemos asignar el dataframe a una variable y usar el método **head** para visualizar los primeros registros del dataframe (por defecto 5)

In [2]:
df = pd.read_csv("animes.csv")
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

Podemos visualizar informacion relevante del dataframe usando algunos de sus atributos

In [7]:
print(f"""
Shape of df = {df.shape}
Index of df = {df.index}
Columns of df = {df.columns}
""")

Shape of df = (12294, 7)
Index of df = RangeIndex(start=0, stop=12294, step=1)
Columns of df = Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

Podemos dar un vistaso a todos los atributos y métodos de los dataframe y las series con la función dir

In [8]:
dir(pd.DataFrame)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__arrow_c_stream__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values_for_csv',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [9]:
dir(pd.Series)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

## Indexar, seleccionar y manipular elementos

Seleccionar valores específicos de un DataFrame o Serie de pandas para trabajar es un paso implícito en casi cualquier operación de datos que ejecutará, por lo que una de las primeras cosas que debe aprender al trabajar con datos en Python es cómo seleccionar los puntos de datos relevantes para usted de manera rápida y efectiva.

### Selección nativa

De forma nativa cada columna del dataframe es un **atributo**

In [10]:
df.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

Podemos recuperar toda la columna accediendo a dicho atributo

In [11]:
df.rating

0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
12289    4.15
12290    4.28
12291    4.88
12292    4.98
12293    5.46
Name: rating, Length: 12294, dtype: float64

Tambien podemos utilizar el **operador de indexacion []**

In [12]:
df["rating"]

0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
12289    4.15
12290    4.28
12291    4.88
12292    4.98
12293    5.46
Name: rating, Length: 12294, dtype: float64

Este último tiene la ventaja de que podemos seleccionar datos en específico usando un segundo operador de indexación, siempre teniendo en cuenta que **primero va la columna y luego la fila**.

In [13]:
df["name"][1]

'Fullmetal Alchemist: Brotherhood'

Incluso hacer slicing con el inicio inclusivo y el final exclusivo

In [14]:
df["name"][0:6]

0                                       Kimi no Na wa.
1                     Fullmetal Alchemist: Brotherhood
2                                             Gintama°
3                                          Steins;Gate
4                                        Gintama&#039;
5    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...
Name: name, dtype: object

### Método iloc
De forma alterma podemos usar el **paradigma de selección basada en indices** seleccionando FILAS de datos en base a su **posicion numérica** usando el método **iloc**.

In [15]:
#Esto devuelve la primer fila
df.iloc[0]

anime_id                                   32281
name                              Kimi no Na wa.
genre       Drama, Romance, School, Supernatural
type                                       Movie
episodes                                       1
rating                                      9.37
members                                   200630
Name: 0, dtype: object

In [16]:
#Esto devuelve el elemento en la fila 1 columna 2 (atributo name)
df.iloc[0,1]

'Kimi no Na wa.'

In [17]:
#Podemos seguir haciendo slicing
df.iloc[0:6]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351

In [18]:
df.iloc[0:6 , 1]

0                                       Kimi no Na wa.
1                     Fullmetal Alchemist: Brotherhood
2                                             Gintama°
3                                          Steins;Gate
4                                        Gintama&#039;
5    Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...
Name: name, dtype: object

In [19]:
#incluso seleccionar todas las filas en la penúltima columna
df.iloc[:,-2]

0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
12289    4.15
12290    4.28
12291    4.88
12292    4.98
12293    5.46
Name: rating, Length: 12294, dtype: float64

### Método loc
Por último podemos usar el **paradigma de selección basada en etiquetas** seleccionando FILAS de datos en base al **nombre de la columna** usando el método **loc**.

In [3]:
df.loc[1 , "name"]

'Fullmetal Alchemist: Brotherhood'

In [21]:
df.loc[: , "rating"]

0        9.37
1        9.26
2        9.25
3        9.17
4        9.16
         ...
12289    4.15
12290    4.28
12291    4.88
12292    4.98
12293    5.46
Name: rating, Length: 12294, dtype: float64

Si establecemos un rango de indices tanto el inicio como el final son inclusivos

In [22]:
df.loc[1,"name":"rating"]

name                         Fullmetal Alchemist: Brotherhood
genre       Action, Adventure, Drama, Fantasy, Magic, Mili...
type                                                       TV
episodes                                                   64
rating                                                   9.26
Name: 1, dtype: object

O podemos seleccionar solo algunas columnas

In [23]:
df.loc[1 , ["name","rating"]]

name      Fullmetal Alchemist: Brotherhood
rating                                9.26
Name: 1, dtype: object

Para ayudarnos a realizar mejor el paradigma de seleccion de etiquetas podemos cambiar los indices con el método set_index y almacenar el dataframe que devuelve en otro.

In [29]:
new_df = df.set_index("name")
new_df.loc["Kimi no Na wa.","genre"]

'Drama, Romance, School, Supernatural'

### Selección condicional
Para realizar selecciones mas enriquecidas podemos aplicar condiciones.

In [49]:
df.rating > 9

0         True
1         True
2         True
3         True
4         True
         ...
12289    False
12290    False
12291    False
12292    False
12293    False
Name: rating, Length: 12294, dtype: bool

El resultado es una Serie de valores booleanos donde se asigna True aquellos que cumplen con la condición y False en caso contrario. \
Si asignamos esto al método loc obtenemos un dataframe solo con las filas que cumplen la condición.

In [50]:
df.loc[df.rating > 9]

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
9078,33607,Kahei no Umi,Historical,Movie,1,9.33,44
9595,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
10400,30120,Spoon-hime no Swing Kitchen,"Adventure, Kids",TV,Unknown,9.60,47
10464,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
10786,26313,Yakusoku: Africa Mizu to Midori,"Drama, Kids",OVA,1,9.25,53

Podemos utlizar los operadores lógicos & y |

In [68]:
df.loc[(df.rating<9) & (df.rating>8.5)]

,anime_id,name,genre,type,episodes,rating,members
13,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
...,...,...,...,...,...,...,...
10102,31547,Ryouma 30 Seconds,Historical,TV,5,8.80,54
10259,22995,Shisei Sasshin,Slice of Life,Movie,1,8.67,51
10718,22219,Warera Salaryman Tou,"Comedy, Slice of Life",TV,26,8.67,57
10793,28557,Yamete! Writer Asobi: Doubutsu Mura no Shoubou...,"Drama, Kids",OVA,1,8.67,40
10847,26097,Yume no Tsuzuki,"Drama, Kids",OVA,1,8.67,53

In [70]:
df.loc[(df.rating==8) | (df.rating==9)]

,anime_id,name,genre,type,episodes,rating,members
523,1470,City Hunter,"Action, Comedy, Mystery, Shounen",TV,51,8.0,19963
524,780,Detective Conan Movie 02: The Fourteenth Target,"Adventure, Comedy, Mystery, Police, Shounen",Movie,1,8.0,26284
525,27633,Gekkan Shoujo Nozaki-kun Specials,"Comedy, Romance, School",Special,6,8.0,52672
526,2321,Giant Robo the Animation: Chikyuu ga Seishi Su...,"Action, Mecha, Sci-Fi, Shounen, Super Power",OVA,7,8.0,12283
527,17273,Hetalia: The Beautiful World Specials,"Comedy, Historical, Parody",Special,4,8.0,8644
528,429,Kaleido Star: Legend of Phoenix - Layla Hamilt...,"Comedy, Drama, Shoujo",OVA,1,8.0,9268
529,18661,Kamisama Hajimemashita OVA,"Comedy, Demons, Fantasy, Shoujo, Supernatural",OVA,2,8.0,38678
530,14349,Little Witch Academia,"Adventure, Comedy, Fantasy, Magic, School",Movie,1,8.0,111703
531,1729,Maria-sama ga Miteru 3rd,"Drama, School, Shoujo Ai, Slice of Life",OVA,5,8.0,12394
532,31973,Mobile Suit Gundam Thunderbolt,"Action, Drama, Mecha, Military, Sci-Fi, Space",ONA,4,8.0,14419
533,17949,The Everlasting Guilty Crown,Music,Music,1,8.0,11663
8487,30935,Douwa Mondai to Jinken: Anata wa Dou Kangaemasuka,Drama,OVA,1,8.0,42
8535,33792,Feng Shu Zhan Jing 2,"Adventure, Kids, Mecha",TV,26,8.0,24
8918,33396,Hua Jiang Hu Zhi Bu Liang Ren,"Adventure, Drama, Historical, Martial Arts, Ro...",ONA,54,8.0,59
8949,26329,Ijimekko Ookami to Nana-chan,"Drama, Kids",OVA,1,8.0,66
8967,26299,Inamuranohi,"Drama, Historical, Kids",OVA,1,8.0,47
8985,28021,Ishii Hisaichi no Nanda Kanda Gekijou,"Comedy, Martial Arts, Sci-Fi, Space",OVA,2,8.0,62
9091,21551,Kaitei Toshi no Dekiru made,Sci-Fi,Movie,1,8.0,64
9136,17217,Kankara Sanshin,"Drama, Historical",Movie,1,8.0,125
9147,29489,Karasu no Puuta,Kids,TV,Unknown,8.0,42
9290,26117,Kokoroya,"Kids, Psychological, Sci-Fi",OVA,1,8.0,66
9448,28577,Makehen de! Roku-nen San-kumi no Hanshin Daish...,"Drama, Historical, Kids",OVA,1,8.0,37
9499,33383,Mask Masters,"Action, Adventure",TV,26,8.0,53
9525,30027,Meisaku World,"Adventure, Fantasy, Historical, Kids, Magic, S...",TV,39,8.0,42
9532,7616,Michi,Drama,Movie,4,8.0,187
9539,26259,Mienu Me ni Kanjita Kumotoriyama no Asahi,"Drama, Kids",OVA,1,9.0,47
9577,33980,Mirai ni Mukete: Bousai wo Kangaeru,Drama,Movie,1,9.0,77
9682,32275,Nar Doma Special,Comedy,Special,1,8.0,71
9686,26153,Nat-chan no Akai Tebukuro,"Historical, Kids",Movie,1,8.0,51
9735,22325,Ningen Kakumei,Slice of Life,OVA,20,8.0,86
9805,34363,Ocha-ken: Ryokutto Monogatari,"Kids, Slice of Life",TV,13,8.0,20
9826,30980,Ojiichan no Hanabi,"Drama, Kids",OVA,1,8.0,40
9831,26145,Okaachan Gomen ne,"Historical, Kids",Movie,1,9.0,47
9833,30978,Okaasan no Yasashii te,"Drama, Kids",OVA,1,8.0,38
9834,26315,"Okaasan, Nakanaide","Drama, Kids",OVA,1,8.0,49
9865,29275,Ooedo Torimonochou: Nezumi Kozou,"Historical, Kids, Mystery",OVA,1,8.0,41
9926,26133,Paper Cranes Story: Kenta to Maiko,"Fantasy, Historical, Kids",OVA,1,8.0,47
10136,34191,Santa-san wa Dai Isogashi,"Fantasy, Kids",OVA,1,9.0,25
10152,27961,Science Anime: Choudendou Monogatari,"Historical, Kids",Special,1,8.0,42
10181,32627,Shaka no Shougai,Historical,Movie,1,9.0,31
10191,32796,Shenmi Shijie Lixian Ji,"Adventure, Comedy, Fantasy",Movie,1,9.0,37
10212,32014,Shimajirou to Ehon no Kuni,"Action, Comedy, Fantasy, Kids",Movie,1,8.0,58
10313,28555,Son Gokuu no Hi no Youjin,"Drama, Fantasy, Kids",OVA,1,8.0,53
10413,23911,Subarashii Sekai Ryokou: Alaska no Tabi &quot;...,"Adventure, Sci-Fi",Special,2,8.0,62
10414,32629,Subarashii Sekai Ryokou: New York Tabi &quot;C...,Sci-Fi,Special,2,8.0,35
10501,31861,Tenchi Muyou! Ryououki 4th Season,"Action, Comedy, Harem, Sci-Fi, Shounen, Space",OVA,4,8.0,1602
10719,33319,Wareware no Heya,NaN,Movie,1,8.0,15
10824,33762,Yong Zhe Da Mao Xian,"Adventure, Fantasy",ONA,26,8.0,78
10831,23351,Youkaiden Nekome Kozou,"Adventure, Horror, Psychological, Seinen, Supe...",TV,25,8.0,153
10844,33828,Yume Kakeru Kougen: Kiyosato no Chichi Paul Rusch,Historical,Movie,1,8.0,35

Podemos usar el metrodo isin para seleccionar datos donde los valores conciden con algún elemento de una lista de valores.

In [73]:
df.loc[df.genre.isin(["Comedy","Action"])]

,anime_id,name,genre,type,episodes,rating,members
716,33994,Servamp Specials,Comedy,Special,3,7.88,5973
798,33082,Kingsglaive: Final Fantasy XV,Action,Movie,1,7.83,15508
886,1015,Full Metal Panic! The Second Raid: Wari to Him...,Comedy,Special,1,7.78,51688
1223,2424,Cardcaptor Sakura Specials,Comedy,Special,3,7.62,18604
1311,9023,Katekyo Hitman Reborn!: Mr. Rebokku no Ciao Ci...,Comedy,Special,3,7.59,12153
...,...,...,...,...,...,...,...
10862,12765,Yuuyake Banchou,Action,TV,26,6.36,109
10888,30090,Zombie Ehon,Comedy,ONA,1,3.54,86
10895,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120
11066,34494,Sakura Quest,Comedy,TV,Unknown,NaN,1295
11074,34456,Sentai Hero Sukiyaki Force,Comedy,TV,Unknown,NaN,43

Por último, podemos modificar los datos como si de un diccionario se tratase.

In [96]:
#Esto va a modificar todas las filas de la columna name
df["name"]="pepe"
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,pepe,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,pepe,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,pepe,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,pepe,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,pepe,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [97]:
#Con iloc es mas sencillo modificar entradas individiales por coordenadas
df.iloc[2,1]="Morita"
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,pepe,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,pepe,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Morita,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,pepe,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,pepe,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [99]:
#Con loc es mas sencillo modificar entradas individuales por etiquetas, con la desventaja de trabajar con una copia del dataframe
copy = df.set_index("name")
copy.loc["Morita","genre"]="pepe le pu"
copy.head()

,anime_id,genre,type,episodes,rating,members
name,,,,,,
pepe,32281,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
pepe,5114,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
Morita,28977,pepe le pu,TV,51,9.25,114262
pepe,9253,"Sci-Fi, Thriller",TV,24,9.17,673572
pepe,9969,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

## Summary functions and maps
Los datos no siempre se seleccionan de la manera que los necesitamos, a veces tenemos que reformatearlos.

In [60]:
#Primero volveremos a definir el dataframe
df = pd.read_csv("animes.csv")
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### Summary functions
Pandas nos proporciona distintas "summary functions" que pueden realizar este trabajo.

El método **describe** nos brinda un resumen de algunos atributos de la columna seleccionada.\
Este método es **type-aware** lo que significa que la salida depende del tipo de dato de la entrada.

In [5]:
df.rating.describe()

count    12064.000000
mean         6.473902
std          1.026746
min          1.670000
25%          5.880000
50%          6.570000
75%          7.180000
max         10.000000
Name: rating, dtype: float64

In [9]:
df.type.describe()

count     12269
unique        6
top          TV
freq       3787
Name: type, dtype: object

Puedes obtener solo algunas de estas propiedades (solo estadisticas) si las llamas por separado.

In [11]:
df.rating.mean()

np.float64(6.473901690981432)

In [14]:
df.type.unique()

array(['Movie', 'TV', 'OVA', 'Special', 'Music', 'ONA', nan], dtype=object)

In [15]:
#Aqui puedes ver la frecuencia de las entradas unicas
df.type.value_counts()

type
TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: count, dtype: int64

### Método map
Map es un método que **designa una función sobre un conjunto de valores y los "mapea" en otro conjunto de valores**.

Las caracteristicas del método map son las siguientes:
- Se utiliza para crear nuevas representaciones de los datos a partir de los datos existentes.
- Se recomienda usar sobre las columnas del dataframe ya que si se hace sobre el dataframe completo la funcion modificara todas las columnas.
- Recibe una funcion que espera un único valor de la serie (columna del dataframe) y devuelve una versión tranformada de dicho valor.

In [25]:
df.rating.map(lambda x : f"{x*10:.2f} points")

0        93.70 points
1        92.60 points
2        92.50 points
3        91.70 points
4        91.60 points
             ...
12289    41.50 points
12290    42.80 points
12291    48.80 points
12292    49.80 points
12293    54.60 points
Name: rating, Length: 12294, dtype: object

### Método apply
Apply es un método equivalente si queremos modificar toda la fila del dataframe aplicando un método distinto a cada columna.